# Ignore the virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore dependencies (we use requirements.txt instead)
*.log

# ignore the build files by pyinstaller
dist/
build/
*.spec